.login_container{
    position: relative;
    padding-top: 60px;
    width: 100vw;
    height: 100vh;
}

.title_img{
    width: 300px;
    height: 50px;
    display: block;
    margin: 0 auto;
}

.img_wrap{
    margin-bottom: 40px;
    width: 100%;
}

.input_wrap{
    margin: 0 auto;
    background-color: #fafbff;
    width: 300px;
    padding: 20px;
}

.input_item{
    margin-bottom: 30px;
}

.input_title{
    font-size: 16px;
}

.input{
    margin-top: 10px;
    width: 100%;
    background-color: #ffffff;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
}
.btn_wrap{
    margin-bottom: 20px;
}
.btn{
    background-color: #f9686f;
    color: #FFFFFF;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.footer_wrap{
    position: absolute;
    bottom: 0;
    width: 100vw;
}

.footer_img{
    height: 200px;
    width: 100%;
}

.footer_sign{
    position: absolute;
    bottom: 60px;
    width: 100vw;
}

.sign_img{
    width: 150px;
    display: block;
    margin: 0 auto;
}

.qr_code_wrap{
    position: absolute;
    bottom: 100px;
    width: 100vw;
}

.qrimg{
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
}
